<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>申请绑定页面</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>魔灵全自动兑换码领取</h1>
        <div id="rta-rank"><span id="rta-rank-text">正在获取RTA分数线...</span></div>
        
        <!-- 跑马灯统计信息 -->
        <div class="marquee-container">
            <div class="marquee" id="marquee">
                <span class="marquee-text">正在加载统计数据...</span>
            </div>
        </div>
        
        <p>绑定后会定时自动领取数据库中兑换码，数据库会自动抓取可用兑换码，由up维护，也可以手动在本页面新增</p>
        <form id="bindForm">
            <div class="input-group">
                <input type="text" id="hiveid" placeholder="游戏头像设置页id" required>
                <div class="error-message" id="hiveid-error"></div>
            </div>
            <div class="input-group">
                <select id="server" required>
                    <option value="">请选择服务器</option>
                    <option value="global">全球服务器</option>
                    <option value="korea">韩国服务器</option>
                    <option value="japan">日本服务器</option>
                    <option value="china">中国服务器</option>
                    <option value="asia">亚洲服务器</option>
                    <option value="europe">欧洲服务器</option>
                </select>
                <div class="error-message" id="server-error"></div>
            </div>
            <div class="input-group">
                <input type="text" id="vipcode" placeholder="请输入VIP Code" required>
                <div style="margin-top: 6px; font-size: 0.85em;">
                    <a href="static/pay.png" target="_blank">点我获取，打赏后页面底部联系up获取</a>
                </div>
                <div class="error-message" id="vipcode-error"></div>
            </div>
            <div>
                <button type="submit" id="submitButton" disabled>申请</button>
                <div style="margin-top: 10px; font-size: 0.8em; color: #64748b;">请勿传播</div>
            </div> 
        </form>
        <div id="status-message"></div>
        
        <div class="add-code-section">
            <h3>增加兑换码</h3>
            <form id="addCodeForm">
                <div class="input-group">       
                    <input type="text" id="code" placeholder="请输入兑换码" required>
                    <button type="submit" id="addCodeSubmitButton">增加</button>
                </div>
            </form>
        </div>
        
        <div class="function-buttons">
            <button id="historyButton">历史领取</button>
            <button id="rewardButton">可用兑换码</button>
            <button id="otherButton">其他资源</button>
            <button id="coaButton">考验之塔</button>
            <button id="feedbackButton">建议反馈</button>
        </div>
        
        <div id="historyModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>历史领取数据-有人领过你就领过，除非限量</h2>
                <div id="dataAnalysis" class="data-analysis"></div>
                <div id="csvData"></div>
            </div>
        </div>
        
        <div id="rewardModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                    <h2>可用兑换码</h2>
                    <div id="rewardData"></div>
            </div>
        </div>
        
        <div class="footer">
                        <p>&copy;<a href="https://space.bilibili.com/33819950">啊啊啊黑猫警长</a></p>
        </div>
        
        <div class="loader"></div>
        <div class="loading-message">正在处理请求，请稍等...</div>


    </div>
    <script src="static/script.js"></script>
</body>
</html>